<section id="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-login" align="center">
			<div class="panel-heading">
				<h2>Registrar</h2>
			</div>
			<div class="panel-body">
			<form ng-submit="register(user)">
				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					</div>
					<input type="name" ng-model="user.name" placeholder="Name" class="form-control" required>
				</div><br>

				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
				</div><br>

				<div class="input-group">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
					</div>
					<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
				</div><br>

				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>
	</div>
</div>
